{% extends "base.html" %}
{% block title %}CSA Your Way{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>About Community Supported Agriculture (CSA)</h2>
    <p>CSAs are farms where locals can buy "shares" (or subscriptions) from the farm and in return receive a basket of produce on a weekly basis. CSAs are great for a few reasons:</p>
    <ol>
      <li><h3>It's healthy:</h3>
        The fresher the produce, the higher the nutrient content. Because CSAs' produce is local and are harvested weekly, you are guaranteed the freshest produce available.<br>
        Also, CSAs are often organic, avoiding harmful chemicals and pesticides.</li>
      <li><h3>Bigger Bang for you Buck:</h3>
        CSAs get rid of the middleman, making it considerably cheaper to lead a healthy lifestyle!</li>
      <li><h3>Sustainability:</h3>
        CSAs reduce energy consumption by cutting transportation from the equation.</li>
      <li><h3>Support local economy:</h3>
        Help your local farmers sustain and grow their business!</li>
    </ol>
    <h2>Ok, great... But where do we fit into the picture?</h2>
	<p>CSAs are amazing, but we think we can make it even better. Currently, most CSAs give everyone the same "basket"; thing is, some of us like potatoes more than peaches.</p>
    <p>CSA Your Way &trade; gives you the power to choose. Buyers can set their preferences and we figure out the best combination of produce for you and everyone else. This way, one week you can make a delicious salad and the next, french onion soup. Excited? Sign up right now.</p>
  </div>
</div>
{% endblock %}