{% extends "base.html" %}
{% block title %}CSA Customers{% endblock %}
{% block content %}
  <div class="lines">
  <p1>Enter the number of pounds of vegetables you can provide: <br></p1>
<form action="/farmers/distribution" method="post">
<p1>Onions:</p1>
  <input type="number" name="onions" min="0"><br>
<p1>Carrots:</p1>
  <input type="number" name="carrots" min="0"><br>
<p1>Potatoes:</p1>
  <input type="number" name="potatoes" min="0"><br>
<p1>Squash:</p1>
  <input type="number" name="squash" min="0"><br>
<p1>Celery:</p1>
  <input type="number" name="celery" min="0"><br>
<input class="btn btn-default btn-lg" type="submit" value="Submit">
</form>
{% endblock %}
