{% extends "base.html" %}
{% block title %}CSA Customers{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <p1>Enter the number of pounds of vegetables you can provide:</p1>
  </div>
  <form action="/farmers/distribution" method="post">
  <div class="row">
    <label>Onions: </label>
    <input type="number" name="onions" min="0"><br>
    <label>Carrots: </label>
    <input type="number" name="carrots" min="0"><br>
    <label>Potatoes: </label>
    <input type="number" name="potatoes" min="0"><br>
    <label>Squash: </label>
    <input type="number" name="squash" min="0"><br>
    <label>Celery: </label>
    <input type="number" name="celery" min="0"><br>
  </div>
  <div class="row">
    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
  </div>
  </form>
</div>
{% endblock %}
