{% extends "base.html" %}
{% block title %}CSA Customers{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <p1>Enter the number of pounds of vegetables you can provide:</p1>
  </div>
  <form action="/farmers/distribution" method="post">
  <div class="form-inline">
    <label class="col-form-label">Onions: </label>
    <input class="form-control" type="number" name="onions" min="0">
  </div>
  <div class="form-inline">
    <label class="col-form-label">Carrots: </label>
    <input class="form-control" type="number" name="carrots" min="0">
  </div>
  <div class="form-inline">
    <label class="col-form-label">Potatoes: </label>
    <input class="form-control" type="number" name="potatoes" min="0">
  </div>
  <div class="form-inline">
    <label class="col-form-label">Squash: </label>
    <input class="form-control" type="number" name="squash" min="0">
  </div>
  <div class="form-inline">
    <label class="col-form-label">Celery: </label>
    <input class="form-control" type="number" name="celery" min="0">
  </div>
  <div class="form-group-row">
    <input class="btn btn-primary btn-lg" type="submit" value="See distribution">
  </div>
  </form>
</div>
{% endblock %}
