{% extends "base.html" %}
{% block title %}CSA Your Way{% endblock %}
{% block content %}
  <div class="container header">
<h1>Farmr: CSA Your Way</h1>
  <h3>Farm Sharing Made Easy</h3>
  </div>
  <div class="instructions">
      	<img src="http://www.aginnovators.org.au/sites/default/files/Farm%20Walk_Houston's%20Farm%20Tasmania_Houston's%20Farm_ORIGINAL.jpg"  width="500" height="250">
<h1 class="farmer">If you are a farmer and would like to sign up, click the link in the navigation bar</h1>
<h1 class="consumer">If you are a consumer and would like to purchase a plot, click the link in the navigation bar</h1>
  </div>
{% endblock %}
