{% extends "base.html" %}
{% block title %}CSA Customers{% endblock %}
{% block content %}
   <div class="header">
<h1>Farmr: CSA Your Way</h1>
  <h3>Farm Sharing Made Easy</h3>
  </div>
  {% if error %}
  <div class="row">
    <h1>That username is already taken!</h1>
  </div>
  {% endif %}

  <div class="box" style="background-color:white;">
  <h1>Customers:</h1>
  <p1>Select from the dropdown menus for each vegetable on a 
      scale from 0-10 <br> indicating how much you prefer it, 0 indicating you want none, 
      and 10 indicating your absolute preference:</p1>
<form action="/customers/new/submit" method="post">
Name: <br> <input type="text" name="name"><br>
Username: <br> <input type="text" name="username"><br>
Password: <br><input type="text" name="password"><br>
<p1>Onions</p1>
<select name="onions">
<option value="0" selected>0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
  </select>
<p1>Carrots</p1>
  <select name="carrots">
<option value="0" selected>0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
<p1>Potatoes</p1>
<select name="potatoes">
<option value="0" selected>0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
<p1>Squash</p1>
  <select name="squash">
<option value="0" selected>0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
<p1>Celery</p1>
<select name="celery">
<option value="0" selected>0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
<p1>Shares</p1>
<select name="shares">
<option value="1" selected>1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>
<input class="btn btn-default btn-lg" type="submit" value="Submit">
</form>
  </div>
{% endblock %}
